// Styling for the contact section
.floating-label-form-group {
  position: relative;
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid $gray-200;
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}
