
.pg-zero {
  background: $zero;
  color: black;
}

.pg-twenty-five {
  background: $twenty-five;
  color: black;
}

.pg-fifty {
  background: $fifty;
  color: black;
}

.pg-seventy-five {
  background: $seventy-five;
  color: black;
}

.pg-one-hundred {
  background: $completed;
  color: black;
}
